{% extends 'access_frontend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid" style="margin-top:100px">
  {%block messages%}
  {% if messages %}
  {% for message in messages %}
  <div class="row alert-danger text-center" style="padding:20px">{{message}}</div>
  {% endfor %}
  {%endif%}
  {% endblock %}

  <!--<h2>Process for consult</h2>-->
  <style>
    .error-field {
        border: 1px solid red;
    }
</style>
  <div class="container-fluid" style="margin-top:70px;height:800px;">

    <div class="row">
        <div class="col-sm-3 card-title" style="text-align: center">
            <br/><br/>
            Welcome {{admin.userName}}  ( {{facility.departmentName}} )
            <br/><br/>
         
        
        </div>    
        <div id="fpa"  class="col-sm-6">
    
            <div style="text-align: center"><h2>Edit User</h2></div>
            <form id="editform" enctype="multipart/form-data" method="post" action="{% url 'edituser'%}">
              {% csrf_token %}
              <input type="hidden" class="form-control" id="memberId" name="memberId" value="{{user.PrimaryKey}}">
              <input type="hidden" class="form-control" id="userRole" name="userRole" value="{{user.userRole}}">

              <input type="hidden" class="form-control" id="uniqueFacilityIdentificationNumber" name="uniqueFacilityIdentificationNumber" value="{{facility.uniqueFacilityIdentificationNumber}}">
              <input type="hidden" class="form-control" id="userGroup" name="userGroup" value="{{admin.groups.name}}">
              <input type="hidden" class="form-control" id="facilityTypeCode" name="facilityTypeCode" value="{{facility.facilityTypeCode}}">

              <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {{ form.memberName|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.memberEmail|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.memberMobile|as_crispy_field }}
              </div> 
            </div>
              <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {{ form.password|as_crispy_field }}
              </div> 
              <div class="form-group col-md-4 mb-0">
                {{ form.confirm_password|as_crispy_field }}
              </div> 
             
            </div>
            {% if user.userRole == "Doctor" %}


            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {{ form.doctorSpeciality|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.currentCity|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.languagesKnown|as_crispy_field }}
              </div> 
            </div>

            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {{ form.doctorBankDetails|as_crispy_field }}
              </div> 
              <div class="form-group col-md-4 mb-0">
                {{ form.doctorSignatures|as_crispy_field }}
              </div> 
            </div>



            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {{ form.doctorRegistrationNumber|as_crispy_field }}
              </div> 
              <div class="form-group col-md-4 mb-0">
                {{ form.doctorRegistrationCertificate|as_crispy_field }}
              </div> 
            </div>

            <div class="form-row"></div>
            <div class="form-row">
              {% if doctor_documents %}
              <table class="table table-hover">

              <tr><td>Documents Present</td></th>  
              <tbody>
              {% for documents in doctor_documents %}
              <tr><td><a href="{{base_document_url}}{{documents.documentFile}}" target="_blank" >{{documents.documentType}}</a></td></tr>
              {% endfor %}
            </tbody>
            </table>
              {%endif%}

            </div>  


            {%endif%}



    <!--            Name : <input type="text" class="form-control" id="name" name="name" value="{{user.memberName }}">
                <br/>
           
                Email : <input type="text" class="form-control" id="email" name="email" value="{{user.memberEmail}}  ">
                <br/>
        
                Mobile : <input type="text" class="form-control" id="mobile" name="mobile" value="{{user.memberMobile}} ">
                <br/>
    
                <input type="hidden" class="form-control" id="userid" name="userid" value="{{user.PrimaryKey}}">
    
                Password : <input type="password" class="form-control" id="password" name="password" >
                <br/>
                Confirm Password : <input type="password" class="form-control" id="confirm_password" name="confirm_password" >
                <br/>
-->
                <button type="submit" class="btn btn-secondary btn-block">Save Changes</button>
    
            </form>
        
        
        </div>
    
    
    </div>    
    
    
    </div>
    <script>
      document.getElementById('editform').addEventListener('submit', function (event) {
 
          var passwordField = document.getElementById('id_password');
          var confirmpasswordField=document.getElementById('id_confirm_password');
  
          if (passwordField.value!=confirmpasswordField.value) {

            passwordField.classList.add('error-field');
            confirmpasswordField.classList.add('error-field');
              
              event.preventDefault();  // Prevent form submission
          }
          
      });
  </script>

{% endblock %}
