{% extends 'access_frontend/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-top:100px">
  {%block messages%}
  {% if messages %}
  {% for message in messages %}
  <div class="row alert-danger text-center" style="padding:20px">{{message}}</div>
  {% endfor %}
  {%endif%}
  {% endblock %}

  <!--<h2>Process for consult</h2>-->

  <div class="container-fluid" style="margin-top:70px;">

    <div class="row">
        <div class="col-sm-3 card-title" style="text-align: center">
            <br/><br/>
            Welcome {{user.userName}}  ( {{facility.departmentName}})
            <br/><br/>
          
        
        </div>    

        <div class="row" >

          {% for x in users  %}
          <div class="col-sm-4" id="profile_column">
            <div id="inner_column" class="alert-success">
              <i class="fa fa-heartbeat" aria-hidden="true">&nbsp;&nbsp;</i>{{x.userRole}}
            </div>
            <table class="table table-hover">
        
              
              <tr>
                <td>Name</a></td>
                <td>{{x.memberName}}</td>
              </tr>
              <tr>
                <td>User ID</a></td>
                <td>{{x.memberEmail}}</td>
              </tr>
              <tr>
                <td><form method="post" action="{% url 'getuserdetails' uId=x.PrimaryKey%}">      {% csrf_token %}
                  <input type="text" hidden class="form-control" id="userid" name="userid" placeholder="Name" value="{{x.PrimaryKey}}"><button type="submit" class="btn btn-secondary btn-block">Manage</button></form> </td>
            
              </tr>
        
              
        
            </table>
        
        
          </div>
          {% endfor %}

        </div>
        
    
     
    
          <div id="dialog">
        </div>
            
           
        
    
    </div>    
    
    
    </div>

{% endblock %}
