{% extends 'access_frontend/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-top:100px">
  {%block messages%}
  {% if messages %}
  {% for message in messages %}
  <div class="row alert-danger text-center" style="padding:20px">{{message}}</div>
  {% endfor %}
  {%endif%}
  {% endblock %}

  <!--<h2>Process for consult</h2>-->

<div class="row align-middle" style="margin-top:20px">
  <div class="col-sm"></div>

<div class="col-sm-6 card-title" style="text-align: center"><h2>Patient Register</h2></div>
<div class="col-sm"></div>
</div>

<div class="row align-middle" style="margin-bottom:50px">
  <div class="col-sm"></div>
</div>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
    <form method="post" action="{% url 'register' %}" method='post' enctype="multipart/form-data" onsubmit="submitForm()">
      {% csrf_token %}
      <select class="form-control" id="registration_options" placeholder="" name="registration_options" style="margin:0px 5px 5px 0px" required><option value="" disabled selected>Select Registration Method</option><option>Registration Form</option><option>File Upload</option><option>Biometric</option><option>UHID</option><option>Adhaar & Mobile</option><option>Aadhar & Biometric</option></select>
      <button type="submit" class="btn btn-secondary btn-block" name='register_with' id='register_with' value="Submit">
      Submit
      </button>
      </form>
</div>
<div class="col-sm"></div>
</div>
<div class="row align-middle" style="margin-top:20px"></div>
<div class="row align-middle" style="margin-top:20px"></div>
<div class="row align-middle" style="margin-top:20px"></div>
<div class="row align-middle" style="margin-top:20px">
  <div class="col-sm"></div>

<div class="col-sm-6 card-title" style="text-align: center"><h2>Search Patient</h2></div>
<div class="col-sm"></div>
</div>

<div class="row align-middle" style="margin-bottom:50px">
  <div class="col-sm"></div>
</div>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
    <form method="post" action="{% url 'search_patient' %}" method='post' enctype="multipart/form-data" onsubmit="submitForm()">
      {% csrf_token %}
      <h5>Search by UHID</h5>
      <input type="text" class="form-control" id="uhid" name="uhid" value="" placeholder="Enter UHID" style="margin:0px 10px 10px 0px" required>

      <button type="submit" class="btn btn-secondary btn-block" name='speciality_selected' id='speciality_selected' value="Submit">
      Search
      </button>
      </form>
<br/>
<form method="post" action="{% url 'search_patient_mobile' %}" method='post' enctype="multipart/form-data" onsubmit="submitForm()">
  {% csrf_token %}
  <h5>Search by Mobile</h5>
  <input type="text" class="form-control" id="patient_mobile" name="patient_mobile" value="" placeholder="Enter Mobile No" style="margin:0px 10px 10px 0px" required>

  <button type="submit" class="btn btn-secondary btn-block" name='speciality_selected' id='speciality_selected' value="Submit">
  Search
  </button>
  </form>
<br/>
      <form method="post" action="{% url 'search_patient_demo' %}" method='post' enctype="multipart/form-data" onsubmit="submitForm()">
        {% csrf_token %}
        <h5>Search by Demography</h5>
        
          <div class="form-row">
          <div class="form-group col-md-5 mb-0">
            <input type="text" class="form-control" id="patient_name" name="patient_name" value="" placeholder="Name" style="margin:0px 10px 10px 0px" required>
          </div>
          <div class="form-group col-md-3 mb-0">
            <select class="form-control" id="patient_gender" placeholder="Select Gender" name="patient_gender" style="margin:0px 5px 5px 0px" required><option value="" disabled selected>Gender</option><option>M</option><option>F</option><option>O</option></select>
          </div>
          <div class="form-group col-md-4 mb-0">      <input type="text" class="form-control" id="patient_yob" name="patient_yob" value="" placeholder="Year of Birth" style="margin:0px 10px 10px 0px" required>
          </div>
       
        </div>
        

        <button type="submit" class="btn btn-secondary btn-block" name='speciality_selected' id='speciality_selected' value="Submit">
        Search
        </button>
        </form>
</div>

<div class="col-sm"></div>
</div>

</div>
{% endblock %}
