{% extends 'access_frontend/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-top:100px">
  {%block messages%}
  {% if messages %}
  {% for message in messages %}
  <div class="row alert-danger text-center" style="padding:20px">{{message}}</div>
  {% endfor %}
  {%endif%}
  {% endblock %}


  <div class="row" >


    <div class="col-sm-4" id="profile_column">
      <div id="inner_column" class="alert-info">
        <i class="fa fa-user-md" aria-hidden="true">&nbsp;&nbsp;</i>Patient Management
      </div>
      <div id="inner_column">
        <table class="table table-hover">

          <tr>
            <td><a href="{% url 'register'%}">Register Patient</a>
        </td>
          </tr>
          <tr>
            <td><a href="#">Bulk Register Patient</a>
        </td>
          </tr>
          <tr>
            <td>
              <a href="#">Edit Patient</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="{% url 'search_patient'%}">Search Patient</a>
            </td>
          </tr>

        </table>

     </div>
   </div>



  <div class="col-sm-4" id="profile_column">
    <div id="inner_column" class="alert-success">
      <i class="fa fa-heartbeat" aria-hidden="true">&nbsp;&nbsp;</i>Appointment Management
    </div>
    <div id="inner_column">
    <table class="table table-hover">

      <tr>
        <td><a href="#">Planned</a></td>
        <td>0</td>
      </tr>
      <tr>
        <td><a href="#">In Progress</a></td>
        <td>0</td>
      </tr>
      <tr>
        <td><a href="#">On Leave (No Show)</a></td>
        <td>0</td>
      </tr>
      <tr>
        <td><a href="#">Finished</a></td>
        <td>0</td>
      </tr>
      <tr>
        <td><a href="#">Cancelled</a></td>
        <td>0</td>
      </tr>

    </table>
    </div>

  </div>


 <!-- <div class="col-sm-4" id="profile_column">
    <div id="inner_column" class="alert-success">
      <i class="fa fa-heartbeat" aria-hidden="true">&nbsp;&nbsp;</i>Order Management
    </div>
    <div id="inner_column">
      <table class="table table-hover">

      <tr>
        <td><a href="#">Medicine Orders</a>
          </td>
      </tr>
      <tr>
        <td><a href="#">Lab Investigations</a>
          </td>
      </tr>
      <tr>
        <td>
          <a href="#">Admissions</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">Procedures</a>
        </td>
      </tr>

    </table>
    </div>

</div>
-->
<div class="col-sm-4" id="profile_column">
  <div id="inner_column" class="alert-success">
    <i class="fa fa-heartbeat" aria-hidden="true">&nbsp;&nbsp;</i>Visit Management
  </div>
  <div id="inner_column">
    <table class="table table-hover">

    <tr>
      <td><a href="{% url 'search_patient_visit'%}">Search by UHID</a>
        </td>
    </tr>
    <tr>
      <td><a href="#">Search by Phone #</a>
        </td>
    </tr>
    <tr>
      <td>
        <a href="#">Search by Function</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">Search by Facility</a>
      </td>
    </tr>

  </table>
  </div>

</div>

<div class="col-sm-4" id="profile_column">
    <div id="inner_column" class="alert-warning">
      <i class="fa fa-heartbeat" aria-hidden="true">&nbsp;&nbsp;</i>Facility Administration
    </div>
    <div id="inner_column">
      <table class="table table-hover">

        <tr>
          <td><a href="{% url 'adduser'%}">Add Users</a>
        </td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'facilityusers'%}">View Users</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'doctor_list'%}">OnBoard Doctor</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">Remove Patient</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">Edit Doctor</a>
          </td>
        </tr>

      </table>
    </div>

</div>

<div class="col-sm-4" id="profile_column">
    <div id="inner_column" class="alert-warning">
      <i class="fa fa-heartbeat" aria-hidden="true">&nbsp;&nbsp;</i>Reports & Analytics
    </div>
    <div id="inner_column">
      <table class="table table-hover">

      <tr>
        <td><a href="#">Staff Attendance & Payouts</a>
          </td>
      </tr>
      <tr>
        <td><a href="#">Vaccinations Completed</a>
          </td>
      </tr>
      <tr>
        <td>
          <a href="#">Pregnancy Cases</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">Inventory Summary</a>
        </td>
      </tr>

    </table>
    </div>

</div>

<div class="col-sm-4" id="profile_column">
  <div id="inner_column" class="alert-warning">
    <i class="fa fa-heartbeat" aria-hidden="true">&nbsp;&nbsp;</i>Service Master
  </div>
  <div id="inner_column">
    <table class="table table-hover">

    <tr>
      <td><a href="#">Add Service</a>
        </td>
    </tr>
    <tr>
      <td><a href="#">View Services</a>
        </td>
    </tr>
    <tr>
      <td>
        <a href="#">Edit Service</a>
      </td>
    </tr>
  

  </table>
  </div>

</div>

</div>


  <!--<h2>Process for consult</h2>-->



<!--patient links-->




</div>
{% endblock %}
