{% extends 'access_frontend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid" style="margin-top:100px">
  {%block messages%}
  {% if messages %}
  {% for message in messages %}
  <div class="row alert-danger text-center" style="padding:20px">{{message}}</div>
  {% endfor %}
  {%endif%}
  {% endblock %}

  <!--<h2>Process for consult</h2>-->

<div class="row align-middle" style="margin-top:20px">
  <div class="col-sm"></div>

<div class="col-sm-6 card-title" style="text-align: center"><h2>Facility Registration Form</h2></div>
<div class="col-sm"></div>
</div>

<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
    <form method="post" action="{% url 'register_facility' %}"  id="register_form">
      {% csrf_token %}

    <!--  <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Name">
      <br/>
 
      <input type="text" class="form-control" id="contact_email" name="contact_email" placeholder="Email">
      <br/>


      <input type="text" class="form-control" id="contact_mobile" name="contact_mobile" placeholder="Mobile">
      <br/>
      <input type="text" class="form-control" id="facility_country" name="facility_country" placeholder="Country">
      <br/>
      <input type="text" class="form-control" id="facility_city" name="facility_city" placeholder="City">
      <br/>
      <input type="text" class="form-control" id="facility_name" name="facility_name" placeholder="Facility Name">
      <br/>
      
      <select class="form-select" name="facility_type" id="facility_type" form="register_form">
        <option default value="0">--Please select type of facility--</option>
        {% for options in data %}
        <option value="{{options.facility_type_code}}" >{{options.facility_type_description}}</option>
        {% endfor %}
    </select>
    <br/>



      <br/>
      <input type="text" hidden name="facility_services" value="<%- micro_combo %>">
      <textarea  rows="3" class="form-control" id="remarks" name="remarks" placeholder="Remarks"></textarea>

  -->
  <div class="form-row">
    <div class="form-group col-md-4 mb-0">
      {{ form.facilityApplicantName|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.facilityApplicantEmail|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.facilityApplicantMobile|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.facilityApplicantCountry|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.facilityApplicantCity|as_crispy_field }}
    </div>
  
</div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.facilityName|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.facilityTypeCode|as_crispy_field }}
    </div>
  
  </div>
  <div class="form-row">
    <div class="form-group col-md-12 mb-0">
      {{ form.facilityApplicantRemarks|as_crispy_field }}
      {{ form.facilityInternalClass|as_crispy_field }}
    </div>
  </div>

      <br/>
      <button type="submit" class="btn btn-secondary btn-block" name='new_facility' id='new_facility' value="Submit">

      Try for Free
      </button>
      </form>
</div>
<div class="col-sm"></div>
</div>
<div class="row align-middle" style="margin-bottom:50px">
  <div class="col-sm"></div>
</div>

</div>
{% endblock %}
