{% extends 'access_frontend/base.html' %}
{% load static %}
{% block content %}

<!-- LetsDoc Tagline -->
<div class="container-fluid" style="margin-top:50px">
 <div class="row" id="top_row1">
   <div class="col-sm-6">
   <p id="top"><span style="font-size:30px">Open Source Healthcare Delivery Information System</span><br/>
   <span style="font-size:16px">Manage your clinical, financial, laboratory, inpatient, outpatient, pharmacy operations
       seamlessly from anywhere at anytime.</span></p>
</div>
 </div>

<!-- Card 1 -->
 <div class="row" id="top_row2" style="padding-top:100px">
   <div class="col-sm" id="columns">
     <div class="card" id = "cards">
  <!--<img id = 'img1' class="card-img-top" src="{% static "register_facility/images/logged_out/Diagnostics.png" %}" alt="Card image">-->
  <div class="card-body">
    <h5 class="card-title">Schedule Demo</h5>
    <p class="card-text">Experience the ease with which you can transition from your existing processes and systems to the OpenHDIS.</p>
    <a href="#" class="btn btn-outline-secondary btn-block">Schedule Now</a>
  </div>
</div>
</div>

<!-- Card 2 -->
   <div class="col-sm" id="columns">
     <div class="card" id = "cards">
  <!--<img id = 'img1' class="card-img-top" src="{% static "register_facility/images/logged_out/steth.png" %}" alt="Card image">-->
  <div class="card-body">
    <h5 class="card-title">Start Directly</h5>
    <p class="card-text">With the OpenHDIS you get an out of the box compliant mobile first solution built as per the NDHB standards.</p>
    <a href="{% url 'select_microservices'%}" class="btn btn-outline-secondary btn-block">Try Now</a>
  </div>
</div>
 </div>

<!-- Card 4 -->

   <div class="col-sm" id="columns" style="margin-bottom:160px">
     <div class="card" id = "cards">
  <!--<img id = 'img1' class="card-img-top" src="{% static "register_facility/images/logged_out/nutri.png" %}" alt="Card image">-->
  <div class="card-body">
    <h5 class="card-title">Sign Up as Partner</h5>
    <p class="card-text">Partner with OpenHDIS to build, promote, sell or provide services and help the platform service the bottom of the pyramid. </p>
    <a href="#" class="btn btn-outline-secondary btn-block">Sign Up Now</a>
  </div>
</div>
 </div>

 </div>
</div>
{% endblock %}
