.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
*.iml
*.xml
*.pyc
newenv/ 
.idea/dataSources/4980b95a-f1c5-4c8d-80df-89c3fa949ee5/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/4980b95a-f1c5-4c8d-80df-89c3fa949ee5/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
.idea/dataSources/4980b95a-f1c5-4c8d-80df-89c3fa949ee5/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/7839c712-0184-43f4-a2eb-98c95b24b20b/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/7839c712-0184-43f4-a2eb-98c95b24b20b/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
*.meta
*.zip
*.dblwr
*.sock
*.cnf
*.index
*.ibd
*.ibt
**/.dbdata/
**/migrations/
!**migrations/__init__.py
**/__pycache__/
hdis_visit_management/static_variables.py
.DS_Store
