{% extends 'access_frontend/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-top:100px">
  {%block messages%}
  {% if messages %}
  {% for message in messages %}
  <div class="row alert-danger text-center" style="padding:20px">{{message}}</div>
  {% endfor %}
  {%endif%}
  {% endblock %}

  <!--<h2>Process for consult</h2>-->

<div class="row align-middle" style="margin-top:20px">
  <div class="col-sm"></div>

<div class="col-sm-6 card-title" style="text-align: center"><h2>Token # {{token_details.token_number}}</h2></div>
<div class="col-sm"></div>
</div>

  <div class="row align-middle" style="margin-top:20px">

<div class="col-sm-4" id="profile_column">
      <div id="inner_column" class="alert-info">
        <i class="fa fa-user-md" aria-hidden="true">&nbsp;&nbsp;</i>{{token_details.PatientName}}
      </div>
      <div id="inner_column">
        <table class="table table-hover">


          <tr>
            <td>Gender</td>
            <td>{{token_details.PatientGender}}</td>
          </tr>
          <tr>
            <td>Age</td>
            <td>{{token_details.PatientAge}}</td>
          </tr>

        </table>

     </div>

   </div>

  </div>
</div>
{% endblock %}