{% extends 'access_frontend/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-top:100px">
  {%block messages%}
  {% if messages %}
  {% for message in messages %}
  <div class="row alert-danger text-center" style="padding:20px">{{message}}</div>
  {% endfor %}
  {%endif%}
  {% endblock %}

  <!--<h2>Process for consult</h2>-->

<div class="row align-middle" style="margin-top:20px">
  <div class="col-sm"></div>

<div class="col-sm-6 card-title" style="text-align: center"><h2>Book Appointment for {{patient_details.PatientName}}</h2></div>
<div class="col-sm"></div>
</div>

<div class="row align-middle" style="margin-bottom:50px">
  <div class="col-sm"></div>
</div>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
        <h5>Select Speciality</h5>
      <select class="form-control" id="speciality" placeholder="" name="speciality" style="margin:0px 5px 5px 0px" required><option value="" disabled selected>Select Speciality</option><option>Physician</option></select>


  
</div>
<div class="col-sm"></div>
</div>

<div class="row align-middle" style="margin-bottom:50px">
  <div class="col-sm"></div>
</div>

  <div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
      <h5>Select Doctor</h5>
      <select onChange="selectDoctor()" class="form-select" name="select_doctor" id="select_doctor">
        <option default value="0">--Please select doctor--</option>
        {% for doctor in doctors %}
        <option  value="{{doctor.LocalHealthCareProviderNumber}}" >{{doctor.doctorName}}</option>
        {% endfor %}
    </select>
  
</div>
<div class="col-sm"></div>
</div>

  <div class="row align-middle" style="margin-bottom:50px">
  <div class="col-sm"></div>
</div>

  <div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
    <form method="post" action="{% url 'book_appointment_confirm' %}" method='post' enctype="multipart/form-data" onsubmit="submitForm()">
      {% csrf_token %}
      <h5>Select Booking Slot</h5>
      <input id="datetimepicker" type="text" >
      <input name="lhpn" id="lhpn" hidden type="text">
      <input name="time" id="time" hidden type="text">
      <input name="date" id="date" hidden type="text">
      <input name="patientid" hidden type="text" value="{{patient_details.UHID}}">

      <br/><br/><br/>
      <table id="tab1">
        <tbody>

        </tbody>
      </table>
      
      <button type="submit" class="btn btn-secondary btn-block" name='slot_selected' id='slot_selected' value="Submit">
      Select
      </button>
      </form>
</div>
<div class="col-sm"></div>
</div>


<div class="row align-middle" style="margin-bottom:50px">
  <div class="col-sm"></div>
</div>

</div>



<script type="text/javascript">
           

        $(function () {
          $('#tab1 tbody').on('click', 'td', function() {
                            console.log($(this).text() + ' clicked!');
                            $('#tab1 td').removeClass('green'); // Remove green class from all cells
                            $(this).addClass('green'); // Add green class to clicked cell
                            var doctorID = document.getElementById("select_doctor");
                            $('#lhpn').val(doctorID.value);
                            $('#time').val($(this).text());
                           
                            
                          });
            $("#datetimepicker").datepicker({
                onSelect: function (date, datepicker) {
                    if (date != "") {
                      $('#tab1 tbody').empty();
                      $('#date').val(date);
                      var doctorID = document.getElementById("select_doctor");
                      var url='http://demo.openhdis.com:8000/appointment_booking/get_provider_free_slots/?lhpn='+doctorID.value+'&day='+date;
                      console.log(url)
                      $.ajax({
                      url: url,
                      dataType: 'json',
                      success: function(data) {
                          //alert(data.message);
                          console.log(data.length);
                          
                          var items = data.length;
                          var columns = 10;
                          var rows = Math.ceil(items / columns);

                          // Create rows and cells for the table
                          for (var i = 0; i < rows; i++) {
                            var row = $('<tr>');
                            for (var j = 0; j < columns; j++) {
                              var index = i * columns + j;
                              if (index < items) {
                                console.log(data[index].state);
                                if(data[index].state=='free')
                                  var cell = $('<td>').text(data[index].time).css('border', '1px solid black');
                                else
                                  var cell = $('<td>').text(data[index].time).css('background-color', 'red');


                                  
                                row.append(cell);
                              } else {
                                break;
                              }
                            }
                            $('#tab1 tbody').append(row);
                          }

                          // Add border to table
                          $('#tab1').css('border', '1px solid black');
                         

                      }
                  }); 
                      

                    }
                }
            });
        });
       
        function selectDoctor(){
  //some code
        var doctorID = document.getElementById("select_doctor");
          console.log(doctorID.value);

          }
      </script>
  
  
  
  
 


{% endblock %}