{% extends 'access_frontend/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-top:100px">
  {%block messages%}
  {% if messages %}
  {% for message in messages %}
  <div class="row alert-danger text-center" style="padding:20px">{{message}}</div>
  {% endfor %}
  {%endif%}
  {% endblock %}

  <!--<h2>Facility Doctor Fields</h2>-->
<div class="row align-middle" style="margin-top:20px">
  <div class="col-sm"></div>

<div class="col-sm-6 card-title" style="text-align: center">
     <a href = "{% url 'facility_field_check' fId=doctor_list.0.UniqueFacilityIdentificationNumber %}">Update information needed for doctors in the facility</a><br/>
</div>
<div class="col-sm"></div>
</div>
<!--<h2>Doctors To Manage</h2>-->
<div class="row align-middle" style="margin-top:20px">
  <div class="col-sm"></div>

<div class="col-sm-6 card-title" style="text-align: center"><h2>Doctor List</h2></div>
<div class="col-sm"></div>
</div>

<div class="row align-middle" style="margin-bottom:50px">
  <div class="col-sm"></div>
</div>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
    {% for items in doctor_list %}
   
    
        {% if items.profileStatus == 0 %}
            <a href = "{% url 'doctor_details' dId=items.LocalHealthCareProviderNumber  %}">{{ items.doctorUserId}} : {{ items.doctorName}}</a><br/>
        {% endif %}
      {% endfor %}
</div>
<div class="col-sm"></div>
</div>
</div>

{% endblock %}
